@import "tailwindcss";

@tailwind utilities;



:root {
  --background-color: #ffffff;
  --text-color: #171717;
  --colour-grey: #888888;
}

@theme {
  --color-green-700: #22c950;
  --color-green-800: #095307;
  --color-gray-100: #dfdfdf;
  --showLayer: showLayer 0.3s ease-in forwards;
  --hideLayer: hideLayer 0.3s ease-out forwards;
}

@layer base {
  *,
  :hover {
    scrollbar-color: unset;
  }
  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  ::-webkit-scrollbar-track {
    background: var(--color-green-700);
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 10px;
  }
}

/*input:-webkit-autofill,*/
/*textarea:-webkit-autofill,*/
/*select:-webkit-autofill {*/
/*  background-color:var(--color-gray-100) !important; !* bg-gray-200 *!*/
/*  color: inherit;*/
/*  transition: background-color 5000s ease-in-out 0s;*/
/*}*/



body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

